In [1]:
huzaifa = 'huzaifa'
for i in huzaifa:
    print(i)

h
u
z
a
i
f
a

In [3]:
khan = 'huzaifa'
for a in khan:
    print(a)

h
u
z
a
i
f
a

In [10]:
huzaifa = ['one' , 'two' , 'three' , "four" ]
for khan in huzaifa:
    print(khan)
    if (khan == "b"):
         print('yes its equal')

one
two
three
four

In [11]:
khan = range(5)
for i in khan:
    print(i)

0
1
2
3
4

In [13]:
khan = range(1 , 60)
for i in khan:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59

In [15]:
huzaifa = ('khan')
for i in huzaifa:
    print(i)

k
h
a
n

In [23]:
khan = range(1,17,4)
for i in khan:
    print(i)

1
5
9
13

In [29]:
khan = ['a','b','c','d','e']
for i in khan:
    print(i)
    b = (a)
    if (i == b):

        print("yes its equal")
    else: 
        print("no")

a
yes its equal
b
no
c
no
d
no
e
no

###string

1

In [30]:
a = ("huzaifa")
print(a)

huzaifa

2 length

In [34]:
a = input("Enter a string: ")

length= len(a)
print("Length of the string is:", length)

Length of the string is: 6

Convert the string How are you? in uppercase.

In [37]:

a = "How are you?"
upperstring = a.upper()
print("Uppercase string:", upperstring)

Uppercase string: HOW ARE YOU?

Convert the string How Is It Going? in lowercase.

In [ ]:

a = "How Is It Going?"
lowercasestring = a.lower()
print("Lowercase string:", lowercasestring)

concatenate the following strings and print the result
s1 = 'python '
s2 = 'is '
s3 = 'great.'

In [ ]:

s1 = 'python '
s2 = 'is '
s3 = 'great.'
a = s1 + s2 + s3
print("Concatenated string:", a)

loop

Write a program to print numbers from 1 to 10 using a for loop.

In [35]:
for num in range(1, 11):
    print(num)

1
2
3
4
5
6
7
8
9
10

Write a program to print the multiplication table of numbers from 1 to 5 using a for loop.

In [43]:

for i in range(1, 6):
    for j in range(1, 11):
        print(f"{i} x {j} = {i * j}")    
         
         
        print()

1 x 1 = 1

1 x 2 = 2

1 x 3 = 3

1 x 4 = 4

1 x 5 = 5

1 x 6 = 6

1 x 7 = 7

1 x 8 = 8

1 x 9 = 9

1 x 10 = 10

2 x 1 = 2

2 x 2 = 4

2 x 3 = 6

2 x 4 = 8

2 x 5 = 10

2 x 6 = 12

2 x 7 = 14

2 x 8 = 16

2 x 9 = 18

2 x 10 = 20

3 x 1 = 3

3 x 2 = 6

3 x 3 = 9

3 x 4 = 12

3 x 5 = 15

3 x 6 = 18

3 x 7 = 21

3 x 8 = 24

3 x 9 = 27

3 x 10 = 30

4 x 1 = 4

4 x 2 = 8

4 x 3 = 12

4 x 4 = 16

4 x 5 = 20

4 x 6 = 24

4 x 7 = 28

4 x 8 = 32

4 x 9 = 36

4 x 10 = 40

5 x 1 = 5

5 x 2 = 10

5 x 3 = 15

5 x 4 = 20

5 x 5 = 25

5 x 6 = 30

5 x 7 = 35

5 x 8 = 40

5 x 9 = 45

5 x 10 = 50